.wrapper-sidenav {
	position: fixed !important;
	z-index: 117000000;
}


.container {
	z-index: 1;
}

/* css bayuwkontol */
#sidenav {
	height: 100vh;
	background-color: #555;
	overflow: hidden;
	width: 60px;
	position: absolute;
	transition: 0.5s;
	z-index: 99;
	color: #fff;
}

#sidenav .logo {
	top: 20px !important;
}

#sidenav .logo h4 {
	margin-top: 15px !important;
	margin-left: 30px !important;
	font-size: 2.1rem;
}

#sidenav:hover {
	width: 250px;
}

#sidenav a {
	text-decoration: none;
	display: block;
	color: white;
	background-color: #555;
	padding-left: 30px;
	padding: 20px;
}

#sidenav a:hover {
	background-color: teal;
}

#sidenav .collapsible-header:hover {
	padding-left: -10px;
}

#sidenav .collapsible-header i {
	padding-left: -10px;
}

.nav-wrapper {
	padding: 0 30px;
	padding-left: 80px;
	z-index: 1;
}

.content {
	margin: 0;
	padding-left: 60px;
}

.content form {
	overflow: hidden;
}

.content .table {
	overflow-y: scroll;
}

li a,
li a:hover,
li a:focus {
	color: inherit;
	text-decoration: none;
	transition: all 0.3s;
	display: block;
}

li a:hover {
	background-color: teal;
	color: white;
}

/* breadcrumb */
.btn-primary {
	background-color: teal !important;
	border-color: teal !important;
}

.breadcrumb {
	color: white !important;
}

.content {
	margin-left: 20px;
}

.breadcrumb-item {
	color: white !important;
}

.breadcrumb-item+.breadcrumb-item::before {
	color: white !important;
}

.breadcrumb-item.active {
	color: white !important;
	font-weight: bold;
}

.breadcrumb-wrapper {
	position: relative;
	height: 50px;
}

.breadcrumb-wrapper .breadcrumb {
	display: flex !important;
	color: teal !important;
	align-items: center;
}

.breadcrumb-wrapper .breadcrumb::before {
	color: teal !important;
}

.breadcrumb-wrapper .breadcrumb:last-child {
	font-weight: bolder !important;
	color: #006767 !important;
}
